# configure output
**/Makefile
config.log
config.status
libtool
autom4te.cache
**/Makefile.in
aclocal.m4
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing

# protocol buffers output
*.pb.cc
*.pb.h

# object files/dependencies
*.la
*.lo
*.o
**/.deps
**/.libs

# dist
emane-example-cpp-events-*.tar.gz

# applications
src/emane-example-cpp-events

